/* header */
mat-toolbar {
  background-color: rgb(255, 123, 0);
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 50px;
}

mat-toolbar div .logo {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



mat-toolbar div ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-toolbar div ul li {
  padding: 10px;
}

mat-toolbar div ul li a {
  text-decoration: none;
  color: white;
}


@media (min-width: 576px) {

  /* header */
  mat-toolbar {
    flex-direction: row;
    height: 80px;
    border-bottom: 2px solid #424242;
  }
  mat-toolbar div {
    width: 100%;
  }
  mat-toolbar div .logo {
    font-size: 1.2em;
    justify-content: flex-start;
  }

  mat-toolbar .hidden ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  mat-toolbar .hidden ul li a {
    margin-left: 20px;
    width: 200px;
    padding: 18px;
    /* background-color: rgba(255, 217, 0, 0.411);
    border-radius: 10px 10px 0px 0px; */
  }
  mat-toolbar .hidden ul li a:hover {
    padding: 18px;
    background-color: #424242;
    border-radius: 5px 5px 0px 0px;
  }
}
