html, body {
  width: 100%;
  margin: 0;
}
img {
  width: 120px;
  border: 1px solid rgb(255, 123, 0);
}

div #test, div #test mat-card, div #test mat-card mat-selection-list  {
  height: 100%;
}

div #test mat-card mat-selection-list mat-list-option {
  height: 150px;
}

@media (min-width: 576px) {
  div #test, div #test mat-card, div #test mat-card mat-selection-list  {
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
  }
  div #test mat-card mat-selection-list mat-list-option {
    height: 150px;
    width: 185px;
    text-align: center;
    margin-right: 15px;
  }
}
